pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
pymupdf
faiss-cpu
langchain_google_genai
pypdf
wikipedia
langchain-pinecone
youtube_search
langgraph
langchain_huggingface
langchain-chroma
langchain_groq
duckduckgo_search
yfinance